.card {
    width: 18rem;
    margin: auto;
    box-shadow: 3px 3px 6px black;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #faf6eb;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardBody {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cardImage {
    width: 100%;
    height: 100%;
}

.cardTitle {
    font-weight: bold;
}