.navbar {
    background-color: #e7eacd; /* Light background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-bottom: 1rem; /* Space below the navbar */
}

.navbarBrand {
    color: #343a40; /* Darker text color for brand */
    font-weight: 400;
    font-size: 25px;
}

.navLinks {
    font-size: 20px;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    background-color: lightpink;
    padding: 32px;
}
